:root {
 /* default colors are for dark themes */
 --primary-color: #E8E8E8;
 --primary-color-inverse: #414141;
 --background-inverse: #E8E8E8;
 --highlight-color: #ffd166;
 --highlight-color-inverse: #414141;
 --highlight-background: #414141;
}
@media (prefers-color-scheme: lightest), (prefers-color-scheme:light) {
  :root {
      --primary-color: #073b4c; /* override for light themes */
      --primary-color-inverse: #E8E8E8;
      --background-inverse: #414141;
      --highlight-color: #e5ab23;
      --highlight-color-inverse: #414141;
      --highlight-background: #dadada;
  }
}

.body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}
#main_panel.body {
  padding: 12px;
}
sp-radio,
sp-button,
sp-action-button,
button {
  cursor: pointer;
}

.button_group {
  padding: 0.5em 0;
}
sp-button {
  margin-right: 0.5em;
}
sp-action-button { 
  display: block;
  margin: 0.5em 0;
  text-align: center;
}

.hidden { display: none; }

.body > sp-body {
  height: 100%;
  overflow: scroll;
}
#typeset_tool.body, 
#typeset_tool sp-body {
  overflow: hidden;
}

#progress_bar {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(60, 60, 60, 0.5);
  z-index: 100;
}
#progress_bar > div {
  width: 60%;
  height: 1.5em;
  border-radius: 0.75em;
  background: white;
  border: 2px solid white;
  top: calc(50% - 1.5em);
  left: 20%;
  position: fixed;
  z-index: 101;
  overflow: hidden;
}
#progress_bar div:after {
  position: absolute;
  top: 0;
  height: 100%;
  width: 1em;
  border-radius: 7px;
}
#progress_bar.w-5 div:after { width: 5%; }
#progress_bar.w-10 div:after { width: 10%; }
#progress_bar.w-15 div:after { width: 15%; }
#progress_bar.w-20 div:after { width: 20%; }
#progress_bar.w-25 div:after { width: 25%; }
#progress_bar.w-30 div:after { width: 30%; }
#progress_bar.w-35 div:after { width: 35%; }
#progress_bar.w-40 div:after { width: 40%; }
#progress_bar.w-45 div:after { width: 45%; }
#progress_bar.w-50 div:after { width: 50%; }
#progress_bar.w-55 div:after { width: 55%; }
#progress_bar.w-60 div:after { width: 60%; }
#progress_bar.w-65 div:after { width: 65%; }
#progress_bar.w-70 div:after { width: 70%; }
#progress_bar.w-75 div:after { width: 75%; }
#progress_bar.w-80 div:after { width: 80%; }
#progress_bar.w-85 div:after { width: 85%; }
#progress_bar.w-90 div:after { width: 90%; }
#progress_bar.w-95 div:after { width: 95%; }
#progress_bar.w-100 div:after { width: 100%; }

sp-label,
section .input {
  display: flex;
  align-items: center;
}
section .input {
  padding: 0.5em 0;
}
.overlay {
  width: 99%;
  height: 95%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay > * { margin: 0 auto; }

.control_wrapper {
  padding: 1em;
  height: 4.5em;
}

.table_wrapper {
  width: 100%;
  height: calc(100vh - 4.5em);
  overflow: scroll;
  padding: 0px;
}
.table_wrapper.pasting .table_body .table_cell { cursor: pointer; }
.table_head {
  background: var(--background-inverse);
  color: var(--primary-color-inverse);
  position: sticky;
  top: 1;
  width: 100%;
}
  .table_head .table_head_cell {
    position: relative;
  }
  .table_head .table_cell .table_column_name:before { 
    content: "COLUMN ";
  }
.table_body {
  margin-top: 1.5em;
}
  .table_page {
    margin-top: 5px;
    border-top: 4px solid var(--primary-color);
  }
    .page_num:before { content: "PAGE "; }
    .panel_num:before { content: "PANEL "; }
    .panel_num, .page_num {
      padding: 0 0.5em;
    }
    .table_page_panel {
      margin-top: 2px;
      border-top: 1px solid var(--primary-color);
    }
    .table_row {
      display: flex;
    }
    .table_row:nth-child(even) {
      background-color: var(--highlight-background);
    }
        .table_row .table_cell {
          min-width: 100px;
          text-overflow: ellipsis;
          padding: 3px 5px;
          position: relative;
        }
        .table_row .table_cell.selected.history-selection:before {
          content: 'RESTORED FROM LAST SESSION';
          min-width: 15em;
          height: calc(1em + 5px);
          padding: 0 5px;
          text-align: center;
          position: absolute;
          top: -1em;
          left: 0px;
          font-size: 0.75em;
          color: var(--highlight-color-inverse);
          background-color: var(--highlight-color);
          white-space: no-wrap;
          border-radius: 3px;
          text-overflow: ellipsis;
          overflow: hidden;
          z-index: 1;
        }
        .table_row .table_cell.selected:after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          border: 3px solid var(--highlight-color);
        }
        .table_row .table_cell:not(:last-child) {
          border-right-width: 1px;
          border-style: solid;
          border-right-color: var(--primary-color-inverse);
        }
/* column resize icon */
.table_head .icon.column_resize {
  height: 100%;
  padding: 0 5px;
  position: absolute;
  right: -5px;
  top: 0px;
  cursor: col-resize;
  text-align: right;
}
  .table_head .table_cell:last-child .icon.column_resize {
    display: none;
  }

template {
  display: none;
}